{% extends 'base.html.twig' %}
{# modifications HEAD #}
{% block title %} Profile de {{ internaute.username }} - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}
{% block document_title %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row detail-content">
            <div class="col-sm-7">
                {% if internaute.photos is not empty %}
                        <div class="detail-gallery-preview">
                            <a href="assets/img/tmp/gallery-1.jpg">
                                <img src="{{ internaute.photos.first().url }}">
                            </a>
                        </div>

                        <ul class="detail-gallery-index">
                            {% for photo in internaute.photos %}
                                <li class="detail-gallery-list-item active">
                                    <a data-target="{{ photo.url }}">
                                        <img src="{{ photo.url }}" alt="...">
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div><!-- /.detail-gallery -->
                {% endif %}
                {% if internaute.localite is not empty %}
                    <div>
                        <iframe width="600" height="450" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/search?q={{ internaute.localite.commune }}%20Belgium&key=AIzaSyAMiuPosKReY8PpyD5IJ3amNLgZ2VbjQ_w"
                                allowfullscreen></iframe>
                    </div>
                {% endif %}
                {{ render(controller("AppBundle:Profile/Comment:viewCommentInternaute", { 'internaute': internaute, 'class':'menu' })) }}
            </div>
            <div class="col-sm-5">
                <h2><span class="text-secondary"> {{ internaute.username }} </span>: profil</h2>
                <div class="background-white p20">
                    <div class="detail-vcard">
                        <div class="detail-logo">
                            {% if internaute.photos is not empty %}
                                <img src="{{ internaute.photos.last().url }}">
                            {% else %}
                                <img src="{{ asset('assets/img/tmp/no-photo.jpg') }}">
                            {% endif %}

                        </div><!-- /.detail-logo -->

                        <div class="detail-contact">
                            <div class="detail-contact-email">
                                <i class="fa fa-envelope-o"></i> <a
                                        href="{{ internaute.email }}">{{ internaute.email }}</a>
                            </div>
                            {#<div class="detail-contact-phone">
                                <i class="fa fa-mobile-phone"></i> <a href="tel:#">{{ internaute.tel }}</a>
                            </div>
                            <div class="detail-contact-website">
                                <i class="fa fa-globe"></i> <a href="#">{{ internaute.siteWeb }}</a>
                            </div>#}
                            <div class="detail-contact-address">
                                <i class="fa fa-map-o"></i>
                                {% if internaute.localite is not empty %}
                                    {{ internaute.adresseRue }}
                                    {{ internaute. adresseNum }}
                                    <br/> {{ internaute.localite.codePostal }} {{ internaute.localite }}
                                    <br/> ({{ internaute.localite.commune }})
                                {% else %}
                                    <strong>votre profile est a completer !</strong><br />Adresse Inconnue
                                {% endif %}

                            </div>
                        </div><!-- /.detail-contact -->


                        <div class="detail-description">

                        </div>
                    </div><!-- /.detail-vcard -->
                    <div class="detail-follow">
                        <h5>Reseaux Sociaux:</h5>
                        <div class="follow-wrapper">
                            <a class="follow-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="follow-btn youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="follow-btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="follow-btn tripadvisor" href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a class="follow-btn google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.follow-wrapper -->
                    </div><!-- /.detail-follow -->
                </div>
                <div class="sidebar">




                </div>
            </div>

        </div>
    </div>

{% endblock %}

