<html>
<head>
</head>
<body>

<h2>Message pour ADMIN</h2>
<p>Un visiteur Connecté a laissé un message: </p>

<div class="breadcrumb">
    <p><strong>Objet: {{ message.sujet }}</strong></p>
    <p>{{ message.message }}</p>

    <p>{{ message.internaute }}
    <br /> <a href="mailto:{{ message.source }}">{{ message.source }}</a></p>
</div>

</body>
</html>