{% extends 'base_admin.html.twig' %}

{% block document_title_h1 %}Gestion des {{ type }} {% endblock %}

    {% block document_title_list %}
        <h2 class="page-title">Liste</h2>
    {% endblock %}

{% block body %}

    <div class="background-white p20 mb50">

        <table class="table table-striped mb0">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
                <th>S</th>
            </tr>
            </thead>

            <tbody>
            {% for promotion in promotions %}

                <tr> {# {% if not promotion.valid %} style="background-color: palevioletred; color: #FFFFFF" {% endif %} >#}
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ path('admin_promotion_detail',{'slug':promotion.slug}) }}">
                            {{ promotion.nom }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_promotion_detail',{'slug':promotion.slug}) }}">
                            <i class="fa fa-eye"  style="color: #000000;" aria-hidden="true"> </i>
                        </a>
                        <a href="{{ path('admin_promotion_delete',{'slug':promotion.slug}) }}">
                            <i class="fa fa-trash-o" style="color: #000000;" aria-hidden="true"> </i>
                        </a>
                    </td>
                    <td>
                        <i class="fa fa-ban" aria-hidden="true"> </i>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

