{% extends 'base_admin.html.twig' %}

    {% block document_title_h1 %}Gestion des Prestataires {% endblock %}

    {% block document_title_list %}
        <h2 class="page-title">Liste</h2>
    {% endblock %}

{% block body %}

    <div class="background-white p20 mb50">

        <table class="table table-striped mb0">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
                <th>S</th>
            </tr>
            </thead>

            <tbody>

            {% for provider in providers %}

                <tr {% if not provider.actif %} style="background-color: palevioletred; color: #FFFFFF" {% endif %}>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ path('admin_prestataire_detail',{'slug':provider.slug}) }}">
                            {{ provider.nom }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_prestataire_detail',{'slug':provider.slug}) }}">
                            <i class="fa fa-eye" style="color: #000000;" aria-hidden="true"></i></a>
                        {% if provider.actif %}
                            <a href="{{ path('admin_prestataire_delete', {'slug': provider.slug}) }}">
                                <i class="fa fa-trash-o" style="color: #000000;" aria-hidden="true"></i></a>
                        {% else %}
                            <a href="{{ path('admin_prestataire_activate', {'slug': provider.slug}) }}">
                                <i class="fa fa-check-circle-o" style="color: #000000;" aria-hidden="true"></i> </a>
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-ban" aria-hidden="true"></i>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

