{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-title">Envoyer un message</h2>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            {{ form_start(form) }}
            <div class="form-group">
                <label>Sujet:</label>
                {{ form_widget(form.sujet, {attr:{"class":'form-control'}}) }}
                {{ form_errors(form.sujet) }}
            </div>
            <div class="form-group">
                <label>Message</label>
                {{ form_widget(form.message, {attr:{"class":'form-control'}}) }}
                {{ form_errors(form.message) }}
            </div>
            {{ form_row(form.submit, { attr:{"class":"btn btn-primary"} }) }}

            {{ form_end(form) }}
        </div>
        <div class="col-sm-3">

        </div>
    </div>
{% endblock %}