{% embed '_layouts/liste.html.twig' %}
    {% block title %} {{ parent() }} Services (Liste) {% endblock %}

    {% block document_title_h1 %} {{ parent() }}Services {% endblock %}
    {% block document_title_list %}


    {% endblock %}
    {% block body %}

        {% for service in services %}
            <div class="card-row">
                <div class="card-row-inner">
                    {% block cadre_image %}

                        <div class="card-row-image" data-background-image="{{ service.image.url }}">
                            <div class="card-row-label"><a
                                        href="{{ path('service_detail',{'slug':service.slug}) }}"></a></div>
                            <!-- /.card-row-label -->

                            <!--<div class="card-row-price"></div><!-- -->

                        </div><!-- /.card-row-image -->
                    {% endblock %}
                    <div class="card-row-body">
                        <h2 class="card-row-title"><a
                                    href="{{ path('service_detail',{'slug':service.slug}) }}">{{ service.nom }}</a></h2>
                        <div class="card-row-content">

                            {% block card_row_content_1 %}{{ service.description }}

                                <br/>
                                {% if service.prestataires is empty %}Pour l'instant personne ne propose cette prestation
                                {% else %} Cette prestation est disponible chez
                                    {% for prestataire in service.prestataires %}
                                        {{ prestataire.nom }} {% if loop.last==false %}, {% else %} .{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block card_row_content_2 %} {% endblock %}
                    {% block card_row_content_3 %} {% endblock %}
                    {% block card_row_content_4 %} {% endblock %}

                    {% block card_row_properties %} {% endblock %}
                </div>
            </div>
        {% endfor %}

    {% endblock %}

{% endembed %}


