{% extends 'base.html.twig' %}
{# modifications HEAD #}
{% block title %} {{ service.nom }} - detail du Service  (Annuaire Wellness) {% endblock %}
{# fin modifications HEAD #}

{# document title#}  {% block document_title_h1 %}{{ service.nom }} en détail. {% endblock %}  {# end document title#}
{% block document_title_list %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-9">
                <h2><span class="text-secondary"> {{ service.nom }} </span>: Catégorie de service</h2>
                <div class="background-white p20">
                    <div class="row detail-content">

                        <div class="col-sm-7">
                            <div class="detail-vcard">
                                <div class="detail-logo">
                                    <img src="{{ service.image.url }}">
                                </div><!-- /.detail-logo -->
                            </div><!-- /.detail-vcard -->
                        </div><!-- /.col -->
                        <div class="col-sm-5">

                            <div class="detail-description">
                                <h3>De quoi s'agit-il ?</h3>
                                <p>{{ service.description }}</p>
                            </div><!-- /.detail description-->

                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.bg white -->
                <h2 class="page-title">Ils proposent ce service:</h2>
                <div class="cards-simple-wrapper">
                    <div class="row">
                        {% if service.prestataires is empty %}
                            <p>Ce service n'est proposé par aucun de nos prestataires</p>
                        {% else %}

                                {% include "_partials/bloc/_bloc-prestataires-grid.html.twig"
                                with {prestataires: service.prestataires, 'sm':12, 'md':4, 'lg':3 }  %}

                        {% endif %}
                    </div><!-- /.row -->
                </div><!-- /.wrapper -->
            </div><!-- /.col-* -->

            <div class="col-sm-4 col-lg-3">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widgettitle">Services</h2>

                        {{ render(controller("AppBundle:Service/Service:widgetList",{}, { 'max': null, 'class':'menu' })) }}
                    </div><!-- /.widget-* -->
                </div><!-- /.sidebar-* -->
            </div><!-- /.col-* -->
        </div><!-- /.row-* -->
    </div><!-- /.container-* -->

{% endblock %}

