<ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
    <li class="active">
        <a href="{{ path('homepage') }}">Accueil<i class="fa fa-chevron-down"></i></a>

        <ul class="sub-menu">
            <li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
            <li><a href="{{ path('prestataires_list') }}">Liste des prestataires</a></li>
            <li><a href="{{ path('prestataire_search_form') }}">Trouver un prestataire</a></li>
            <li><a href="{{ path('contact') }}">Nous Contacter</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
        </ul>

    </li>
    {{  render(controller('AppBundle:Default:menu',  { 'max': 5})) }}
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('homepage') }}">Admin <i class="fa fa-chevron-down"></i></a>
            <ul class="sub-menu">
                <li><a href="{{ path('admin_prestataires_list') }}">Gestion des Prestataires </a></li>
            </ul>
        </li>
    {% endif %}
</ul>
{# plus de qutre renderController pour le menu -> a modifier #}