{% extends 'base.html.twig' %}

{# modifications HEAD #}
{% block title %} Liste des Prestataires - annuaire Wellness {% endblock %}
{# fin modifications HEAD #}
 {# document title#}

    {% block document_title_h1 %}prestataires {% endblock %} {# titre de la page #}
    {% block document_title_list %} {# liens --> liste horizontale <li> #}

    {% endblock %}

    {# end document title#}
{% block body %}

    <div class="cards-row">
        {% for prestataire in prestataires %}


            <div class="card-row">
                <div class="card-row-inner">
                    <!-- row image enlevé -->

                    <div class="card-row-body">
                        <h2 class="card-row-title"><a href="listing-detail.html">{{ prestataire.nom }}</a></h2>
                        <div class="card-row-content"><p>Visitez notre site: <a href="{{ prestataire.siteWeb }}"> {{ prestataire.siteWeb }}</a></p></div>
                        <!-- /.card-row-content -->
                    </div><!-- /.card-row-body -->

                    <div class="card-row-properties">
                        <dl>

                            <dt>{{ prestataire.email  }} </dt>
                            <dt>{{ prestataire.tel  }} </dt>
                            <dt>{{ prestataire.localite.commune }}</dt>
                        </dl>

                    </div><!-- /.card-row-properties -->
                </div><!-- /.card-row-inner -->
            </div><!-- /.card-row -->

        {% endfor %}
    </div>
{% endblock %}