{% embed '_layouts/grille.html.twig'  %}
    {% block title %} {{ parent() }} Prestataires (Grille) {% endblock %}

    {% block document_title_h1 %} {{ parent() }}Prestataires {% endblock %}

    {% block document_title_list %}
        <li><a href="{{ path('prestataires_list', {'pres':'list'}) }}">Liste</a></li>
        <li><a href="{{ path('prestataires_list', {'pres':'grid'}) }}">Grille</a></li>
    {% endblock %}

    {% block body %}
        {{ render(controller("AppBundle:Prestataire/Prestataire:last", { 'pres': 'grid'})) }}
    {% endblock %}

{% endembed %}


{# cette page integre le template de base et modifie les titres
    le render controller affiche le bloc qui contient les infos principales présentées sous forme de grille
    #}