{% embed '_layouts/grille.html.twig'  %}
    {% block title %} {{ parent() }} Prestataires (Grille) {% endblock %}

    {% block document_title_h1 %} {{ parent() }}Prestataires {% endblock %}

    {% block document_title_list %}
        <li><a href="{{ path('prestataire_liste', {'pres':'liste'}) }}">Liste</a></li>
        <li><a href="{{ path('prestataire_liste', {'pres':'grille'}) }}">Grille</a></li>
    {% endblock %}

    {% block body %}
        {{ render(controller("AppBundle:Prestataire/Prestataire:last", { 'pres': 4})) }}
    {% endblock %}

{% endembed %}