{% embed '_layouts/liste.html.twig'  %}
    {% block title %} {{ parent() }} Prestataires (liste) {% endblock %}

    {% block document_title_h1 %} {{ parent() }}Prestataires {% endblock %}

    {% block document_title_list %}
        <li><a href="{{ path('prestataire_liste', {'pres':'liste'}) }}">Liste</a></li>
        <li><a href="{{ path('prestataire_liste', {'pres':'grille'}) }}">Grille</a></li>
    {% endblock %}

    {% block body %}
        {{ render(controller("AppBundle:Prestataire/Prestataire:last", {"pres": "liste"})) }}
    {% endblock %}

{% endembed %}

