{% extends 'base.html.twig' %}

{# modifications HEAD #}
{% block title %} Modification Prestataire - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

 {% block document_title %}

 {% endblock %}

{% block body %}

    <div class="content-admin-main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Modification</h1>
                    </div> <!-- page-title -->
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="page-title">Coordonnées</h2>
                            <div class="form-group">
                                <label>Nom de l'Entreprise</label>
                                {{ form_errors(form.perso.nom) }}
                                {{ form_widget(form.perso.nom, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Rue</label>
                                {{ form_errors(form.perso.adresseRue) }}
                                {{ form_widget(form.perso.adresseRue, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>N°</label>
                                {{ form_errors(form.perso.adresseNum) }}
                                {{ form_widget(form.perso.adresseNum, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Localite</label>
                                {{ form_errors(form.perso.localite) }}
                                {{ form_widget(form.perso.localite, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Télephone</label>
                                {{ form_errors(form.tel) }}
                                {{ form_widget(form.tel, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>TVA</label>
                                {{ form_errors(form.tva) }}
                                {{ form_widget(form.tva, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                        </div> <!-- col 3 -->
                        <div class="col-md-4">
                            <div class="background-white p20 mb50">
                                <h2 class="page-title">Activités</h2>
                                <div class="form-group">
                                    <label>Site Web</label>
                                    {{ form_widget(form.siteWeb) }}
                                    {{ form_widget(form.siteWeb, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    <div class="checkbox">

                                        <label>Catégories de services</label>
                                        {{ form_errors(form.categories) }}
                                        {{ form_widget(form.categories) }}
                                    </div>
                                </div> <!-- form-group -->

                            </div>
                            <div class="form-group">
                                {{ form_widget(form.perso.submit, {'attr':{'class':'btn btn-primary'}}) }} {{ form_widget(form.perso.supprimer) }}
                            </div> <!-- form-group -->
                        </div> <!-- col 4 -->
                        <div class="col-md-5">
                            <h2>Vous proposez les stages suivants</h2>
                            {% for stage in stages %}
                            <br/>
                            <a href="{{ path('stage_update', {'slug':stage.slug}) }}"> <i class="fa fa-pencil-square-o alert-info"></i></a>
                            <a href="{{ path('stage_delete', {'slug':stage.slug}) }}"><i class="fa fa-trash-o alert-danger" aria-hidden="true"></i></a>

                                {{ stage.nom }}
                                {% endfor %}
                                <p><a href="{{ path('stage_create') }}">Ajouter un stage</a></p>
                        </div> <!-- col 5 -->
                    </div> <!-- row -->
                    <div class="row">

                        <div class="col-md-4">
                        </div> <!-- col md 4 -->

                        <div class="col-md-4">

                        </div> <!-- col md 4 -->
                    </div><!-- row -->

                </div> <!-- col 12 -->
                {{ form_end(form) }}
            </div> <!-- row -->
        </div> <!-- container fluid -->
    </div> <!-- content-admin-main-inner -->

{% endblock %}