<ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
    <li class="active">
        <a href="{{ path('homepage') }}">Accueil <i class="fa fa-chevron-down"></i></a>

        <ul class="sub-menu">
            <li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
            <li><a href="{{ path('prestataire_liste') }}">Liste des prestataires</a></li>
            <li><a href="{{ path('prestataire_recherche') }}">Trouver un prestataire</a></li>
            <li><a href="{{ path('contact') }}">Nous Contacter</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
        </ul>
    </li>
    <li class="active">
        <a href="{{ path('prestataire_liste') }}">Prestataires <i class="fa fa-chevron-down"></i></a>
      {{ render(controller("AppBundle:Prestataire/Prestataire:menu", { 'max': 5, 'class':'sub-menu' })) }}
{# j'appelle l'Action du menu PrestataireController qui me renvoie la vue prestataires-menu pour completer mon menu deroulant#}

    </li>

    <li>
        <a href="{{ path('service_liste') }}">Service <i class="fa fa-chevron-down"></i></a>
       {{ render(controller("AppBundle:Service/Service:menu", { 'max': 5, 'class':'sub-menu' })) }}
        {# j'appelle l'Action du menu ServiceController qui me renvoie la vue _menu-elements pour completer mon menu deroulant#}

    </li>


    <li>
        <a href="#">Contact <i class="fa fa-chevron-down"></i></a>
        <ul class="sub-menu">
            <li><a href="contact-1.html">Contact v1</a></li>
            <li><a href="contact-2.html">Contact v2</a></li>
            <li><a href="contact-3.html">Contact v3</a></li>
        </ul>
    </li>
</ul>
