{% extends 'base.html.twig' %}

{# modifications HEAD #}
{% block title %} Ajout Prestataire - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

 {% block document_title %}

 {% endblock %}

{% block body %}

    <div class="content-admin-main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Inscription</h1>
                    </div> <!-- page-title -->
                    {{ form_start(form) }}
                    {# form_errors(form) #}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="background-white p20 mb50">
                                <h2 class="page-title">Informations de connection</h2>
                                <div class="form-group">
                                    <label>Nom d'utilisateur</label>
                                    {{ form_errors(form.utilisateur.username) }}
                                    {{ form_widget(form.utilisateur.username, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form_errors(form.utilisateur.email) }}
                                    {{ form_widget(form.utilisateur.email, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    <label>Mot de Passe</label>
                                    {{ form_widget(form.utilisateur.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    <label>Verification</label>
                                    {{ form_widget(form.utilisateur.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    {{ form_errors(form.utilisateur.plainPassword,  {'attr':{'class':'alert alert-danger'}} ) }}
                                </div> <!-- form-group -->


                            </div>
                        </div> <!-- col 5 -->
                        <div class="col-md-3">
                            <h2 class="page-title">Coordonnées</h2>
                            <div class="form-group">
                                <label>Nom de l'Entreprise</label>
                                {{ form_errors(form.utilisateur.nom) }}
                                {{ form_widget(form.utilisateur.nom, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Rue</label>
                                {{ form_errors(form.utilisateur.adresseRue) }}
                                {{ form_widget(form.utilisateur.adresseRue, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>N°</label>
                                {{ form_errors(form.utilisateur.adresseNum) }}
                                {{ form_widget(form.utilisateur.adresseNum, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Localite</label>
                                {{ form_errors(form.utilisateur.localite) }}
                                {{ form_widget(form.utilisateur.localite, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Télephone</label>
                                {{ form_errors(form.tel) }}
                                {{ form_widget(form.tel, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>TVA</label>
                                {{ form_errors(form.tva) }}
                                {{ form_widget(form.tva, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                        </div> <!-- col 3 -->
                        <div class="col-md-4">
                            <div class="background-white p20 mb50">
                                <h2 class="page-title">Activités</h2>
                                <div class="form-group">
                                    <label>Site Web</label>
                                    {{ form_widget(form.siteWeb, {'attr':{'class':'form-control'}}) }}
                                </div> <!-- form-group -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>Catégories de services</label>
                                        {{ form_widget(form.categories) }}
                                    </div>
                                </div> <!-- form-group -->
                            </div>
                        </div> <!-- col 4 -->

                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Logo</label>

                            </div> <!-- form-group -->
                        </div> <!-- col md 6 -->
                        <div class="col-md-6">
                            {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary'}}) }}
                        </div> <!-- col md 6 -->
                    </div><!-- row -->

                </div> <!-- col 12 -->
                {{ form_end(form) }}
            </div> <!-- row -->
        </div> <!-- container fluid -->
    </div> <!-- content-admin-main-inner -->

{% endblock %}