{% extends 'base.html.twig' %}

{# modifications HEAD #}
{% block title %} Ajout d'une promotion - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

 {% block document_title %}

 {% endblock %}

{% block body %}

    <div class="content-admin-main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Solde !</h1>
                    </div> <!-- page-title -->
                    <div class="row">
                        <div class="col-md-6">

                            {{ form_start(form) }}
                            <div class="form-group">
                                <label>Nom</label>
                                {{ form_errors(form.promostage.nom) }}
                                {{ form_widget(form.promostage.nom, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->

                            <div class="form-group">
                                <label>Description</label>
                                {{ form_errors(form.promostage.description) }}
                                {{ form_widget(form.promostage.description, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            <div class="form-group">
                                <label>Tarif</label>
                                {{ form_errors(form.promostage.tarif) }}
                                {{ form_widget(form.promostage.tarif, {'attr':{'class':'form-control'}}) }}
                            </div> <!-- form-group -->
                            {{ form_end(form) }}
                        </div> <!-- col md 6 -->
                        <div class="col-md-6">
                        </div> <!-- col md 6 -->
                    </div> <!-- row -->
                </div> <!-- col 12 -->
            </div> <!-- row -->
        </div> <!-- container fluid -->
    </div> <!-- content-admin-main-inner -->
{% endblock %}