{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <div class="background-white p20 mb50">
                <h2 class="page-title">SEO .::. Méta Tags</h2>
                {{ form_start(form_meta) }}
                <div class="form-group">
                    {{ form_label(form_meta.title) }}
                    {{ form_widget(form_meta.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form_meta.description) }}
                    {{ form_widget(form_meta.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_end(form_meta) }}
            </div>
        </div>
    </div>

{% endblock %}